body{
    background-color: rgb(245, 219, 253);
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

nav{
    display: flex;     
    justify-content: flex-start;
    align-items: center;
    gap: 24px;   
    padding: 8px;
    background-color: rgb(255, 255, 255);
    font-size: small;
    box-shadow:  0 4px 12px rgba(0, 0, 0, 0.08);
}
a{
    text-decoration: none;   /* remove underline */
    color: black;  
}
#logo{
    margin-left: 12px;
}


.scene {
    display: flex;
    align-items: center;
    width: 97vw;            
    height: 30vh;   
    perspective: 600px;
}

.cube {
    display: flex;
    width: 80px;
    height: 80px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 6s linear infinite;
    margin: auto;
}

.cube-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    pointer-events: none;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:
        0 0 5px #b20b64cf,
        0 0 10px #884288;

    animation: counterSpin 6s linear infinite;
}

@keyframes counterSpin {
    from {
        transform: translate(-50%, -50%) rotateX(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateY(-360deg);
    }
}


.face {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 2px solid #1c1437;
    background: rgba(246, 202, 235, 0);
}

/* Faces */
.front  { transform: rotateY(0deg) translateZ(40px); }
.back   { transform: rotateY(180deg) translateZ(40px); }
.right  { transform: rotateY(90deg) translateZ(40px); }
.left   { transform: rotateY(-90deg) translateZ(40px); }
.top    { transform: rotateX(90deg) translateZ(40px); }
.bottom { transform: rotateX(-90deg) translateZ(40px); }

/* Animation */
@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}

.header {
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    text-shadow:
        0 0 5px #ff00ff64,
        0 0 10px #ca76ca,
        0 0 20px #af4d61,
        0 0 40px #ff69b4;
}